@model IEnumerable<Insurance.Models.InsuranceViewModels.SalePayment>

@{
    ViewData["Title"] = "PaymentHistory";
}

<h2>PaymentHistory</h2>



<div class="row">
    <div class="col-md-12">
        <h3>Total</h3>
    </div>
    <div class="col-md-12">
        <h3 class="label label-info" id="total_pay"></h3>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="">
            <label class="control-label">Initial Date</label>
            <input id="initial_date" style="bottom:4px; position:relative"/>
        </div>
        <div class="">
            <label class="control-label">Final Date</label>
            <input id="final_date" style="bottom:4px; position:relative" />
        </div>
        @*<table border="0" cellspacing="5" class="pull-right">
            <tbody>
                <tr>
                    <td >
                        <label class="control-label">Initial Date</label>
                        <input id="initial_date"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label">Final Date</label>
                        <input id="final_date" />
                    </td>
                </tr>
            </tbody>
        </table>*@
        <table id="payment_table" class="table table-bordered">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Amount Paid</th>
                    <th>Statement Date</th>
                </tr>
            </thead>
            <tbody id="payments_table_body">
                @if (ViewBag.allValues != null)
                {
                    for (int i = 0; i < ViewBag.allValues.Count; i++)
                    {
                        var item = ViewBag.allValues[i];

                        <tr class="@(!ViewBag.indatabase[i] ? "bg-danger " : " ")">
                            <td>@item.CustomerName</td>
                            <td>@item.AmountPaid</td>
                            <td>@item.StatementDate</td>
                        </tr>

                    }
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Customer.FullName</td>
                            <td>@item.AmountPaid</td>
                            <td>@item.DatePayment</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</div>
<div class="row">
    <div class="col-md-3 pull-right">
        <p>Upload a new Sales file</p>
        <form method="post" enctype="multipart/form-data" id="form" asp-action="AddPaymentsFromFile" asp-controller="Insurance">
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
                    <input id="file_upload" name="file" onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none;" type="file">
                </span>
                <span class="form-control" style="font-size:smaller; display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 100%;"></span>

            </div>
            <input class="btn btn-success form-control" type="submit" value="Upload" id="upload" />
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript">
    function addpayments() {
        $.ajax({
            type: "POST",
            url: "AddPaymentsFromFile",
            data: { path: $("#payment_file").val() },
            error: function () { alert("errror") },
            success: function (data) { showpayments(data) }

        })
    };
    $(document).ready(function () {

        var table = $("#payment_table").DataTable({
            "scrollY": "70vh",
            "paging": false,
            "scrollCollapse": true,
            "dom": '<"toolbar">frtip'
        });
        //$("div.toolbar").html('<label>Initial Date</label> <input id="initial_date" />');
        $("#form").submit(function () {

            var formdata = new FormData();

            var totalFiles = $("#file_upload")[0].files.length;


            for (var i = 0; i < totalFiles; i++) {
                var file = $("#file_upload")[0].files[i];

                formData.append(file.name, file);
            }
            //formdata.append("file", $("#file_upload").files[0]);
            return;
            $.ajax({
                type: "POST",
                data: formdata,
                url: '/Insurance/AddPaymentsFromFile',
                contentType: false,
                processData: false,
                success: function () { alert("success") },
                error: function () { alert("error") }
            });
        });

        //calculate total of current_payments

        //this is for the first time
        var values = table.columns({ filter: 'applied' }).data()[1];
        var res = 0;
        for (var i = 0; i < values.length; i++) {
            res += parseInt(values[i]);
        }
        $("#total_pay").text(res);

        //when the user search for someone
        $('#payment_table').on('search.dt', function () {
            var values = table.columns({ filter: 'applied' }).data()[1];

            var res = 0;
            for (var i = 0; i < values.length; i++) {
                res += parseInt(values[i]);
            }
            $("#total_pay").text(res);
        });


        /* Custom filtering function which will search data in column four between two values */
        $.fn.dataTable.ext.search.push(

            function (settings, data, dataIndex) {

                var mn = new Date($('#initial_date').val());
                if (mn == "Invalid Date")
                    mn = new Date("1/1/1001");

                var mx = new Date($('#final_date').val());
                if (mx == "Invalid Date")
                    mx = new Date("12/31/9999");


                var current = new Date(data[2]);

                return (mn <= current && current <= mx);


            }
        );

        $('#initial_date, #final_date').keyup(function () {
            table.draw();
        });

    });

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
