@model IEnumerable<Insurance.Models.InsuranceViewModels.Sale>

@{
    ViewData["Title"] = "Sales";
}

<h2>Sales</h2>




<table class="table table-striped table-bordered display"  cellspacing="0" id="sales_table">
    <thead>
        <tr>
            <th>SaleID</th>
            <th>Customer Name</th>
            <th>Direct Agent</th>
            <th>Referring Agent</th>
            <th>Lead Agent</th>
            <th>Product Name</th>
            <th>Carrier</th>           
            <th>Member Count</th>
            <th>Premium</th>
            <th>Effective Date</th>
            <th>Termination Date</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>SaleID</th>
            <th>Customer Name</th>
            <th>Direct Agent</th>
            <th>Referring Agent</th>
            <th>Lead Agent</th>
            <th>Product Name</th>
            <th>Carrier</th>
            <th>Member Count</th>
            <th>Premium</th>
            <th>Effective Date</th>
            <th>Termination Date</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Customer.FullName</td>
                <td>@item.DirectAgent</td>
                <td>@item.ReferringAgent</td>
                <td>@item.LeadAgent</td>
                <td>@((item.ProductName == null)?"": item.ProductName.Name)</td>
                <td>@((item.Carrier == null)?"":item.Carrier.Name)</td>
                <td>@item.MemberQuantity</td>
                <td>@item.Premium</td>
                <td>@item.EffectiveDate</td>
                <td>@item.TerminationDate</td>
            </tr>
            
        }
    </tbody>

</table>

<div class="row">
    <div class="col-md-3">
        <p>Upload a new Sales file</p>
        <form method="post" asp-action="AddSalesFromFile" asp-controller="Insurance" enctype="multipart/form-data">
            <input class="form-control" id="sales-file-selector" type="file" name="file" />
            
            <input class="btn btn-success form-control" type="submit" value="Upload" />
            <!--<div class="form-group">
                <label class="col-md-2 control-label">Insurance Name</label>
                <div class="col-md-6">
                    <select id="insurancename" class="form-control" asp-items="ViewBag.InsuranceNames">
                        <option value="none">Please select one</option>
                    </select>
                </div>
            </div>
                -->
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function addsales() {
        $.ajax({
            type: "GET",
            url: "AddSalesFromFile",
            data: { path: $("#sale_file").val() },
            error: function () { alert("errror") },
            success: function (data) { location.reload(); }

        })
    };
    $(document).ready(function () {
        
        // Setup - add a text input to each footer cell
        $('#sales_table tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });
        
        // DataTable
        var table = $('#sales_table').DataTable({
            "scrollX": true            
        });

        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
